
.map-container {
  height: calc(100vh - 64px);
  width: calc(100% - 64px);
  position: absolute;
  top: 64px;
  left: 64px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .map-container {
    height: calc(100vh - 48px);
    width: calc(100% - 48px);
    top: 57px;
    left: 57px;
  }
}

.leaflet-control-fullscreen {
  position: absolute;
  z-index: 1001;
}
