
.map-container {
  height: calc(100vh - 64px); /* Subtract the height of the navbar, which is 64px by default */
  width: calc(100% - 64px); /* Adjust this value according to your sidebar width */
  position: absolute;
  top: 64px; /* Set the top value to the height of the navbar */
  left: 64px; /* Adjust this value according to your sidebar width */
}