/* Normal-mode */
.leaflet-popup {
  box-shadow: none;
  border-radius: 0;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #8C67AC;
}

.leaflet-popup-content {
  font-size: 14px;
  line-height: 0.75;
  padding: 16px;
  max-width: 300px;
}

.leaflet-popup h2 {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #8C67AC;
  line-height: 1;
}

/* Responsiveness */
@media (max-width: 767px) {
  .leaflet-popup-content {
    font-size: 14px;
    padding: 14px;
    max-width: 300px;
  }

  .leaflet-popup h2 {
    font-size: 18px;
    margin-bottom: 6px;
    border-bottom: 1px solid #8C67AC;
    padding-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .leaflet-popup-content {
    font-size: 12px;
    padding: 10px;
    max-width: 220px;
  }

  .leaflet-popup h2 {
    font-size: 16px;
    margin-bottom: 4px;
    border-bottom: 1px solid #8C67AC;
    padding-bottom: 4px;
  }
}

.leaflet-popup-content-wrapper img.popup-image {
  max-width: 100%;
  max-height: 100%;
}

.bolded-text {
  font-weight: bold;
  color: #333;
}

@media (min-width: 1920px) {
  .leaflet-popup-content {
  font-size: 16px;
  padding: 20px;
  max-width: 400px;
  }

  .leaflet-popup h2 {
  font-size: 22px;
  margin-bottom: 10px;
  border-bottom: 2px solid #8C67AC;
  padding-bottom: 10px;
  }
  .normal-text {
    line-height: 1;
  }
}



